
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#viewingPage_mobilebutton_11 {

}
.ui-btn.viewingPage_mobilebutton_11 {

}
/* mobilebutton_18 */
#viewingPage_mobilebutton_18 {

}
.ui-btn.viewingPage_mobilebutton_18 {

}
/* mobilecontainer */
.ui-content.viewingPage_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* html_61 */
.viewingPage_html_61 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	display: none;
	width: 250px; height: 50px;
}
div.viewingPage_html_61 {
	overflow: auto;
}
/* html_12 */
.viewingPage_html_12 {
	margin: 10px 0px 0px 0px;
	font-weight: normal;
	width: 100%; height: 700px;
}
div.viewingPage_html_12 {
	overflow: auto;
}
/* mobilefooter */
.viewingPage_mobilefooter {
	min-height:38px;
}
/* loadPopup */
.viewingPage_loadPopup {
	width: 260px;
}
div.viewingPage_loadPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.viewingPage_loadPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* mobilegrid_34 */
.viewingPage_mobilegrid_34 {
	height: auto;
	width:95%;
	margin: 10px 5px 4px 5px;
	border-collapse: collapse;
	table-layout: fixed;
}
.viewingPage_mobilegrid_34_wrapper {

}
.viewingPage_mobilegrid_34 > tr > td {
	vertical-align: top;
}
.viewingPage_mobilegrid_34_row_0, .viewingPage_mobilegrid_34_row_0 > td {
	height: 30px
}
/* mobilegridcell_35 */
.viewingPage_mobilegridcell_35 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.viewingPage_mobilegridcell_35 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_22 */
.viewingPage_mobilelabel_22 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #646464; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 5px 10px 0px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* ownerParamInput */
.viewingPage_ownerParamInput {
	margin: 5px 10px 4px 10px;
}
/* tagParamInput */
.viewingPage_tagParamInput {
	margin: 4px 10px 4px 10px;
}
/* mobilebutton_17 */
#viewingPage_mobilebutton_17 {

}
.ui-btn.viewingPage_mobilebutton_17 {
	margin: 5px 10px 5px 10px;
}
/* mobilegrid_49 */
.viewingPage_mobilegrid_49 {
	height: auto;
	width:95%;
	margin: 10px 5px 10px 5px;
	border-collapse: collapse;
	table-layout: fixed;
}
.viewingPage_mobilegrid_49_wrapper {

}
.viewingPage_mobilegrid_49 > tr > td {
	vertical-align: top;
}
.viewingPage_mobilegrid_49_row_0, .viewingPage_mobilegrid_49_row_0 > td {
	height: 30px
}
/* mobilegridcell_50 */
.viewingPage_mobilegridcell_50 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.viewingPage_mobilegridcell_50 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_33 */
.viewingPage_mobilelabel_33 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #646464; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 5px 10px 4px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilebutton_20 */
#viewingPage_mobilebutton_20 {

}
.ui-btn.viewingPage_mobilebutton_20 {
	margin: 0px 30px 5px 30px;
}
/* mobilegrid_44 */
.viewingPage_mobilegrid_44 {
	height: auto;
	width:95%;
	margin: 10px 5px 15px 5px;
	border-collapse: collapse;
	table-layout: fixed;
}
.viewingPage_mobilegrid_44_wrapper {

}
.viewingPage_mobilegrid_44 > tr > td {
	vertical-align: top;
}
.viewingPage_mobilegrid_44_row_0, .viewingPage_mobilegrid_44_row_0 > td {
	height: 30px
}
/* mobilegridcell_45 */
.viewingPage_mobilegridcell_45 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.viewingPage_mobilegridcell_45 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_52 */
.viewingPage_mobilelabel_52 {
	text-decoration: none; font-weight: bold; color: #646464; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_32 */
.viewingPage_mobilelabel_32 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #646464; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 0px 15px 0px 15px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_24 */
.viewingPage_mobilegrid_24 {
	height: auto;
	width:100%;
	margin: 4px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.viewingPage_mobilegrid_24_wrapper {

}
.viewingPage_mobilegrid_24 > tr > td {
	vertical-align: top;
}
.viewingPage_mobilegrid_24_row_0, .viewingPage_mobilegrid_24_row_0 > td {
	height: 30px
}
/* mobilegridcell_25 */
.viewingPage_mobilegridcell_25 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.viewingPage_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_26 */
.viewingPage_mobilegridcell_26 {
	height:30px !important;
	width:150px;
	padding: 0px 0px 0px 0px;
}
.viewingPage_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_31 */
.viewingPage_mobileimage_31 {
	margin: 4px 0px 4px 0px;
	width: 150px; height: auto;
	display: block;
}
/* mobilegridcell_29 */
.viewingPage_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.viewingPage_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_53 */
.viewingPage_mobilegrid_53 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.viewingPage_mobilegrid_53_wrapper {

}
.viewingPage_mobilegrid_53 > tr > td {
	vertical-align: top;
}
.viewingPage_mobilegrid_53_row_0, .viewingPage_mobilegrid_53_row_0 > td {
	height: 30px
}
/* mobilegridcell_54 */
.viewingPage_mobilegridcell_54 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.viewingPage_mobilegridcell_54 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_21 */
#viewingPage_mobilebutton_21 {

}
.ui-btn.viewingPage_mobilebutton_21 {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_55 */
.viewingPage_mobilegridcell_55 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.viewingPage_mobilegridcell_55 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_51 */
#viewingPage_mobilebutton_51 {

}
.ui-btn.viewingPage_mobilebutton_51 {
	margin: 0px 0px 0px 0px;
}
/* mosaicViewPopup */
.viewingPage_mosaicViewPopup {
	width: 90%;
}
div.viewingPage_mosaicViewPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.viewingPage_mosaicViewPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* mosaicViewerImg */
.viewingPage_mosaicViewerImg {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* mobilebutton_60 */
#viewingPage_mobilebutton_60 {
	display: none;
}
.ui-btn.viewingPage_mobilebutton_60 {
	margin: 2px 60px 8px 60px;
}